html {
    font-family: 'Lato', sans-serif;
}

#rooms {
    list-style: none;
    padding: 0;
    margin: 0;
}

#rooms li {
    padding: 12px 24px;
    margin: 2px 4px;
    display: inline-block;
    background: #9f7;
    cursor: pointer;
}

#creator dt, #login dt {
    display: inline-block;
    width: 5em;
    text-align: right;
    margin: 0 5px 0 0;
    padding: 0;
}

#creator dd, #login dd {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#chat {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    border: 1px solid lightgray;
    height: 20em;
    overflow-y: scroll;
    position: relative;
}

#chat li {
    padding: 0;
    margin: 2px 4px;
}

#chat li span {
    font-weight: bold;
    width: 8em;
    display: inline-block;
}

#sender {
    margin: 20px auto;
    padding: 0;
}