@(chatName: String, chatId: String, userName: String, userId: String)

@main("Chatter") {

    <h1>Room @chatName</h1>
    <h2>Hello, @userName.</h2>

    <ul id="chat"></ul>
    <div id="sender">
        <input type="text">
        <input type="submit" value="Send">
    </div>

    <a href="/">Back to room select</a>

    <script type="text/javascript">
    $(function() { roomId = '@chatId'; personId = '@userId'; $.getScript("@routes.Assets.at("javascripts/chat.js")") });
    </script>

}
