@(chats: List[(String, String)], form: Form[Application.ChatParams])

@main("Chatter") {

        <h1>Chatter</h1>

        <h2>Select room:</h2>
        @if(chats.isEmpty){
            There are no active rooms. Please create one to chat.
        } else {
        <ul id="rooms">
            @for(chat <- chats){
                <li><a href="@routes.Application.chat(chat._1)">@chat._2</a></li>
            }
        </ul>
        }

        <h2>Create new room:</h2>
        @helper.form(action = routes.Application.create(), args = 'id -> "creator") {
            @helper.inputText(form("name"), args = 'placeholder -> "Room name")
            @helper.inputText(form("password"), args = 'placeholder -> "Optional password")
            <input type="submit" value="Create" />
        }
}
